<h1 class="h1 mb-1 font-weight-normal"><span ng-bind="user"></span>'s Todo List</h1>

<div class="header">
    <form ng-submit="addTask()">
        <input type="text" id="inputTask" class="form-control" placeholder="Task..." ng-model="taskName" />
        <input type="submit" class="btn btn-sm btn-success btn-block" value="Add" />
    </form>
</div>

<div ng-repeat="ta in taskSet">
    <ul id="myUL">
        <li ng-class ="{checked: ta.done}">
            <!--<input type="checkbox" ng-model="ta.done" ng-change="saveTaskSet(ta)"/>-->
            <div ng-click="saveTaskSet(ta)">
                <span ng-bind="ta.taskName" ng-style="{'text-decoration' : (ta.done) ? 'line-through' : 'none' }"></span>
            </div>
            <div ng-click="deleteTask(ta)" class="close">x</div>
        </li>
    </ul>
</div>
